* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Brandon Grotesque Light", sans-serif;
}

#root {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100%;
}

.sub_container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70%;
    margin: 32px;
}

.sub_container_content {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 32px;
}

.pre_processing {
    background-color: #DB5A6B;
}

.note {
    margin: 8px 0;
    font-weight: 600;
    font-size: 12px;
    color: white;
}

.snippets {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
    flex-flow: row;
}

pre {
    font-weight: 400;
    color: white;
}

.post_processing {}

.label {
    font-size: 36px;
}

.authentication {

}

.button {
    background-color: red;
    height: 40px;
    width: 70px;
    border: none;
    border-radius: 4px;
    color: white;
}

#palette {
    width: 300px;
    height: 125px;
}

.task {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 16px;
}

.task > * {
    margin: 0 8px;
}

.task_title {
    font-size: 14px;
}

.task_stars {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.task_title {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.star {
    width: 16px;
    height: 16px;
}