.commentSystem
  width: 100%
  display: flex
  justify-content: flex-start
  align-items: flex-start
  flex-direction: column

.child_comment
  margin-left: 48px

.header
  margin: 8px 0
  display: flex
  justify-content: center
  align-items: center
  flex-direction: row

.headerAvatar
  margin-right: 4px
  width: 25px
  height: auto

.headerDate
  margin-left: 4px
  font-size: 14px

.content
  margin: 4px 25px

.contentText
  font-size: 16px